<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <!-- <img class="img-fluid mx-1 px-1"
            src="`http://openweathermap.org/img/wn/${savedCities[currentCity].list[7].weather[0].icon}@2x.png`"
            class="card-img-top" alt="..."> -->
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h4 class="weatherReport d-flex justify-content-center" id="forecast1High">
                        High:  °F
                    </h4>
                </div>
                <div class="col">
                    <h4 class="weatherReport d-flex justify-content-center" id="forecast1Low">
                        Low:  °F
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="d-flex justify-content-center" id="Date1"></h4>
                    Today's date
                </div>
            </div>
        </div>
    </div>
</div>